<%- include ('partials/showNavbar')  %> 
    <!-- Navbar End -->
   
  <!--/ Intro Single End /-->
   <!--/ Intro Single star /-->
   <header class="blogs">
    <div class="container">
      <div class="row">
        <div class="col-lg-9">
          <div class="">
            <h1 class="">Our Blog</h1>
          </div>
        </div>
        <div class="col mt-2">
          <span class='b-border'>
         <a href="/" class='m-1'><strong>Home</strong></a>/
         <a href="" class='m-1'><strong>Blogs</strong></a>/
         <% if(currentUser && blog.user.equals(currentUser._id)) {%> 
         <a href="/blog/<%=blog._id %>/edit" class='m-1 btn-sm btn-info'>Edit</a>/
         <form class='d-inline' action='/blog/<%= blog._id %>?_method=DELETE' method='POST'>
           <button class='delete-btn'>Delete</button>
        </form>
        <% } %> 
         </span>
     
        </div>
      </div>
    </div>
  </header> 
  <!--/ Intro Single End /-->
  <!--/ News Single Star /-->
    <section class='blog-image'>
    <div class="container">
      <div class="card mx-auto">
        <img src="<%= blog.image %>" class='card-image' alt="">
      </div>  
      <h6 class ='text-center mt-3'><strong>Author:</strong> <%= blog.author %>  <strong>Category:</strong> <%= blog.category %>  <strong>Date:</strong> <%= blog.createdAt %> </h6>
    
 </div>
 </div>
    
            <div class="container">
              <div class="row mx-auto">
                <div class="col-sm-12">
          <div class="post-content color-text-a">
           
            <p class='mt-2'>
             <%= blog.body %> 
            </p>
            <p>
              <%= blog.body %> 
            </p>
              <footer class="blockquote-footer">
                <strong><%= blog.author %> </strong>
                <cite title="Source Title"><b class='font-weight-bold'>Author</b></cite>
              </footer>
           
          
          </div>
          <div class="post-footer">
            <div class="post-share">
              <span>Share: <i class="fab fa-facebook-square ml-1"></i>
                <i class="fab fa-twitter-square ml-2"></i>
                <i class="fab fa-instagram-square ml-2"></i>
                <i class="fab fa-youtube-square ml-2"></i>
              </span>
              <ul class="list-inline socials">
                <li class="list-inline-item">
                  <a href="#">
                    <i class="fa fa-facebook" aria-hidden="true"></i>
                  </a>
                </li>
                <li class="list-inline-item">
                  <a href="#">
                    <i class="fa fa-twitter" aria-hidden="true"></i>
                  </a>
                </li>
                <li class="list-inline-item">
                  <a href="#">
                    <i class="fa fa-instagram" aria-hidden="true"></i>
                  </a>
                </li>
                <li class="list-inline-item">
                  <a href="#">
                    <i class="fa fa-pinterest-p" aria-hidden="true"></i>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-10 offset-md-1 col-lg-10 offset-lg-1">
          <div class="title-box-d">
            <h3 class="title-d">Comments <%= blog.reviews.length %> </h3>
          </div>
          <div class="box-comments">
            <ul class="list-comments">
           <% for (review of blog.reviews){ %>    <li>
                <div class="comment-avatar">
                  <img src="img/author-2.jpg" alt="">
                </div>
                <div class="comment-details">
                  <p class="comment-author"><%= review.name %> </p>
                  <p class="comment-description">
                    <%= review.body %> 
                  </p>
                  <% if(currentUser && review.user.equals(currentUser._id)) {%> 
                  <form  action='/blog/<%= blog._id %>/reviews/<%= review._id %>?_method=DELETE' method='POST'>
                    <button class='delete-btnd'> Delete</button>
                  </form>
                  <% } %> 
                </div> 
              </li>
            <% } %> 
            
            </ul>
            
          </div>
          <% if(currentUser) {%> 
          <div class="form-comments">
            <div class="title-box-d">
              <h3 class="title-d"> Leave a Reply</h3>
            </div>
            <form action="/blog/<%= blog._id %>/reviews" method='POST'>
              <div class="row">
                <div class="col-md-6 mb-3">
                  <div class="form-group">
                    <label for="name">Enter name</label>
                    <input type="text" class="form-control form-control-lg form-control-a" id="name" name='name' placeholder="Name *"
                      >
                  </div>
                </div>
                <div class="col-md-6 mb-3">
                  <div class="form-group">
                    <label for="email">Enter email</label>
                    <input type="email" class="form-control form-control-lg form-control-a" id="email" name='email'
                      placeholder="Email *">
                  </div>
                </div>
                <div class="col-md-12 mb-3">
                  <div class="form-group">
                    <label for="body">Enter message</label>
                    <textarea id="body" class="form-control" placeholder="Comment *" name="body" cols="45"
                      rows="8" ></textarea>
                  </div>
                </div>
                <div class="col-md-12">
                  <button type="submit" class="btn btn-a">Send Message</button>
                </div>
              </div>
            </form>
          </div>
          <% } %> 
        </div>
      </div>
    </div>
  </section>
  <!--/ News Single End /-->
  <%- include ('partials/showFooter')  %> 